$green: #004A37;
$olive: #756E0C;
$white: #D2D9D9;
$blue: #1A3575;
$light-blue: #748C9E;

$title-font: 'Racing Sans One', cursive;
$body-font: 'Oxygen', sans-serif;

/*------frontpage-------*/

body {
	background: $white;
	font-family: $body-font;
}

div.otter{
	position: fixed;
	left: 40px;
	bottom: -5px;
}

div.container {
	width: 600px;
	margin: 0px auto;

}

a {
	color: $light-blue;
	text-decoration: none;
}
a:hover {
	color: $olive;
}

ul {
	list-style-type: none;
}

textarea {
	border: none;
	border-radius: 6px; 
}

input[type='submit'] {
	border: none;
	background: $light-blue;
	border-radius: 4px;
}

h1 a {
	font-family: $title-font;
	font-size: 48pt;
	text-decoration: none;
}

h1 span#left {
	color: $green;
}

h1 span#right{
	color: $blue;
}

h1 a:hover {
	text-decoration: underline;
}