$green: #004A37;
$olive: #756E0C;
$white: #D2D9D9;
$blue: #1A3575;
$light-blue: #748C9E;
$yellow: #C18A04;
$black: #333;

$title-font: 'Racing Sans One', cursive;
$body-font: 'Oxygen', sans-serif;

/*------global----------*/

body {
	background: $white;
	font-family: $body-font;
	font-size: medium;
	color: $black;
	letter-spacing: 0.1em;
}
a {
	color: $black;
	text-decoration: none;
}
a:hover {
	color: $yellow;
	text-decoration: none;
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
textarea {
	border: none;
	border-radius: 6px; 
}
input[type='submit'] {
	border: none;
	background: $light-blue;
	border-radius: 4px;
	padding: 4px 8px;
	color: white;
	letter-spacing: 0.1em;
}
input[type='submit']:hover {
	background: $yellow;
}

/*------frontpage-------*/

div.otter{
	position: fixed;
	left: 40px;
	bottom: -5px;
}
div.container {
	margin: 40px auto auto 300px;
}
h1 a {
	font-family: $title-font;
	font-size: 64pt;
	text-decoration: none;
}
h1 span#left {
	color: $green;
}
h1 span#right{
	color: $blue;
}
#logButton {
	font-size: x-large;
	padding: 8px 0;
	margin: 0 0 64px 20px;
}

/*------login & signup------*/
.new_user, .new_session {
	margin-left: 20px;
	padding: 4px 8px;
}
.new_user input, .new_session input {
	display: block;
}

/*------questions index-----*/
.question span, a {
	display: inline-block;
	padding: 4px 8px 4px 0;
}
span.votes {
	padding: 0;
}
div#questions {
	padding-left: 20px;
}
.question {
	padding: 12px 0;
	font-size: x-large;
}
.voteTotal {
	font-size: x-large;
	width: 30px;
	text-align: center;
}
span.details {
	padding: 0;
}
.details, .details a, .category a {
	font-size: medium;
	color: $light-blue;
}
.details a:hover {
	color: $yellow;
}
span.category {
	font-size: medium;
	padding: 0;
}
.category a {
	border: 1px solid $light-blue;
	padding: 2px 6px;
	margin: 2px 0;
}
.category a:hover {
	border: 1px solid $yellow;
	color: $yellow;
}