$green: #004A37;
$olive: #756E0C;
$white: #D2D9D9;
$blue: #1A3575;
$light-blue: #748C9E;
$yellow: #C18A04;
$black: #333;

$title-font: 'Racing Sans One', cursive;
$body-font: 'Oxygen', sans-serif;

/*-----question-----*/
.question p {
	margin: 8px 0;
	line-height: 1.3em;
}

/*-----comments-----*/
.new_comment {
	margin-bottom: 12px;
}
.new_comment textarea {
	width: 50%;
	height: 1.6em;
	margin: 12px 0 12px 31%;
	padding: 4px;
}
.new_comment input[type="submit"] {
	padding: 4px;
	&:hover {
		color: $yellow;
	}
}
/*------answers-----*/
div.create-answer {
	border: none;
	background: $light-blue;
	border-radius: 4px;
	color: white;
	letter-spacing: 0.1em;
	font-size: large;
	margin: 16px 0;
	&:hover {
		background: $yellow;
	}
}
.create-answer a {
	color: white;
	padding: 8px 72% 8px 16px;
}
.votes {
	font-size: x-large;
}
.voteTotal {
	padding-left: 0;
	padding-right: 12px;
}
.answers li {
	background: white;
	padding: 12px 18px;
}
.answer-text {
	padding: 8px 0;
}
